h1 { 
 color: green;
 padding-left: 100px;
} 
*{
border: solid;
}
.header{
    border: double;
    margin: 100px;

    background-color :skyblue;
    display: flex;
    justify-content: space-between;
}
.grade{
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
color: skyblue;
font-size: 20px;
}
p,h2{
    text-align: center;
}
body{
    background-color: #ffffff;
}